<router-outlet></router-outlet>
<!--Header -->
<app-header (onSeleccionarUsuario)="seleccionarUsuario($event)"></app-header>


<div class="container-fluid">
    <div class="row">
        <!--Sidebar-->
        <app-sidebar #sidebar (onVerArtista)="verArtista($event)" (onVerPlaylist)="verPlaylist($event)"></app-sidebar>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div id="vista-playlist" *ngIf="regionVisible == 'playlists'">
                <app-playlist></app-playlist>
            </div>
            <!--Playlist-->


            <!------------------------------->
            <!--Artista-->
            <div id="vista-artista" *ngIf="regionVisible == 'artistas'">
                <app-album></app-album>
            </div>
            <!--vista-artista-->


        </main>
    </div>
</div>


<!--Modal Playlists-->


<!--Modal Usuarios-->


<!--Modal Nueva Lista-->