<p>sidebar works!</p>
<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Artists</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <li class="nav-item" *ngFor="let artista of artistas">
                <div class="nav-link" (click)="verArtista(artista)">
                    <fa-icon [icon]="faMusic"></fa-icon> {{artista.nombreArtista}}
                </div>
            </li>
        </ul>

        <ul class="nav flex-column">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Playlists</span>
                <a class="d-flex align-items-center text-muted" href="#">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <li class="nav-item" *ngFor="let playlist of playlists">
                <div class="nav-link" (click)="verPlaylist(playlist)">
                    <fa-icon [icon]="faPlay"></fa-icon> {{playlist.tituloPlaylist}}
                </div>
            </li>
        </ul>
    </div>
</nav>