<section class="container-fluid pb-5" *ngFor="let album of albums.albumes">
    <div class="row">
        <div class="col-4 text-center">
            <div class="cover-image" [style.backgroundImage]="obtenerURL(album.caratulaAlbum)">
            </div><br>
            <h5 class="text-muted">{{album.nombreAlbum}}</h5>
            <button class="btn btn-success" type="button"><fa-icon [icon]="faPlay"></fa-icon> Play</button>
        </div>
        <div class="col-8">

            <!--Item 1 -->
            <div class="row song-item" *ngFor="let cancion of album.canciones">
                <div class="col-1">
                    <fa-icon [icon]="faPlay"></fa-icon>
                </div>
                <div class="col-10">
                    <div class="song-title">{{cancion.nombreCancion}}</div>
                    <div class="song-description">{{artistaSeleccionado}} - {{album.nombreAlbum}}</div>
                </div>
                <div class="col-1">
                    <span>{{cancion.duracion}}</span>
                    <button (click)="agregarPlaylist(contentAgregarPlaylist, cancion, album.nombreAlbum)" class="btn btn-outline-success btn-sm" title="Agregar a playlist">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>




<!--Ventana Modal Para Agregar a Playlist -->
<ng-template #contentAgregarPlaylist let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar a playlist</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <select class="form-control" [(ngModel)]="playlistActual">
            <option>Seleccione una playlist</option>
            <option *ngFor="let playlist of playlists" [ngValue]="playlist._id">{{playlist.tituloPlaylist}}</option> 
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="modal.close('Save click')">Cerrar</button>
        <button type="button" class="btn btn-outline-success" (click)="guardarCancion()">Guardar en playlist</button>
    </div>
</ng-template>